In [5]:
%matplotlib inline
import pandas as pd

In [6]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [7]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                  title  year
0  Due selvaggi a corte  1959
1         My Accomplice  2014
2         Top Coat Cash  2017
3     Marquis Preferred  1929
4         De verbouwing  2012

In [8]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [31]:
len(titles)

235919

### What are the earliest two films listed in the titles dataframe?

In [32]:
titles.sort_values('year').head(2)

                    title  year
10433          Miss Jerry  1894
8928   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [34]:
len(titles[titles.title == "Hamlet"])

20

### How many movies are titled "North by Northwest"?

In [35]:
len(titles[titles.title == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [36]:
titles[titles.title == "Hamlet"].sort_values("year").head(1)

       title  year
8435  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [37]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
148238  Treasure Island  1918
146386  Treasure Island  1920
4168    Treasure Island  1934
167525  Treasure Island  1950
213728  Treasure Island  1972
144629  Treasure Island  1973
160032  Treasure Island  1985
61792   Treasure Island  1999

### How many movies were made in the year 1950?

In [38]:
len(titles[titles.year == 1950])

1111

### How many movies were made in the year 1960?

In [39]:
len(titles[titles.year == 1960])

1531

### How many movies were made from 1950 through 1959?

In [40]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12862

### In what years has a movie titled "Batman" been released?

In [41]:
titles[titles.title == "Batman"]

         title  year
43031   Batman  1989
165611  Batman  1943

### How many roles were there in the movie "Inception"?

In [43]:
len(cast[cast.title == "Inception"])

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [47]:
len(cast[(cast.title == "Inception") & (cast.n.isnull())])

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [48]:
len(cast[(cast.title == "Inception") & (cast.n.notnull())])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [ ]:
cast[(cast.title == "North by Northwest") & (cast.n.isnull)]

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [10]:
len(titles)

235919

In [27]:
h = titles.head()
h

                  title  year
0  Due selvaggi a corte  1959
1         My Accomplice  2014
2         Top Coat Cash  2017
3     Marquis Preferred  1929
4         De verbouwing  2012

In [19]:
len(h)

8

In [29]:
h['year'] // 10 * 10 # turn years into decades

0    1950
1    2010
2    2010
3    1920
4    2010
Name: year, dtype: int64

In [30]:
h.year > 1985

0    False
1     True
2     True
3    False
4     True
Name: year, dtype: bool