# Combining and Merging Data Sets

## Database Style Dataframe merges

In [3]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [4]:
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                'data1': range(7)})
df2 = DataFrame({'key': ['a', 'b', 'd'],
                'data2': range(3)})

In [5]:
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [6]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [7]:
# pandas merges on column with common names (if not explicitly given)
pd.merge(df1, df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [10]:
pd.merge(df1, df2, on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [11]:
df3 = DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                'data1': range(7)})
df4 = DataFrame({'rkey': ['a', 'b', 'd'],
                'data2': range(3)})

In [12]:
df3

   data1 lkey
0      0    b
1      1    b
2      2    a
3      3    c
4      4    a
5      5    a
6      6    b

In [13]:
df4

   data2 rkey
0      0    a
1      1    b
2      2    d

In [14]:
# You can specify what to merge on in each df, if the keys don't match
# by default, merge does an inner join, or an intersection
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

   data1 lkey  data2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a

In [15]:
# you can also do a left, right, and outer merge.
# the outer merge is a union, combining the effect of both left and right joins
pd.merge(df1, df2, how='outer')

   data1 key  data2
0    0.0   b    1.0
1    1.0   b    1.0
2    6.0   b    1.0
3    2.0   a    0.0
4    4.0   a    0.0
5    5.0   a    0.0
6    3.0   c    NaN
7    NaN   d    2.0

In [16]:
# Many-to-many merges don't necessarily have intuitive behavior
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [17]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [18]:
# this is a cartesian product of the rows
pd.merge(df1, df2, on='key', how='left')

   data1 key  data2
0      0   b    1.0
1      1   b    1.0
2      2   a    0.0
3      3   c    NaN
4      4   a    0.0
5      5   a    0.0
6      6   b    1.0

In [19]:
pd.merge(df1, df2, how='inner')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0